.private-yacht-info {
  width: 100%;

  h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .header-yacht-info {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 10%;

    .yacht-info-box {
      margin-top: 10px;

      h1 {
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
        color: #333;
      }

      .features {
        margin-top: 10px;
        font-weight: 400;
        font-size: 1rem;
        align-items: center;

        span {
          margin-right: 10px;
          color: #666666;

          img {
            margin-right: 3px;
            width: 2rem;
            height: 2rem;
          }
        }

        a {
          text-decoration: none;
          font-weight: 600;
          color: #333;
        }
      }
    }

    .yacht-price-box {
      display: flex;
      border: 1px solid #d8d8d8;
      border-radius: 4px;
      padding: 10px;
      width: 30%;

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        .date-row {
          padding-top: 5%;
          color: #333;
          font-size: 1rem;
          font-weight: 600;

          &:first-child {
            padding-right: 10px;
            border-right: 1px solid #d8d8d8;
          }
        }

        .price-row {

          .price-discounted {
            text-decoration: line-through;
            font-size: 1.2rem;
            opacity: .65;
            color: #ff6240;
            font-weight: 600;
            margin-bottom: 0;
          }

          .price-discounted-percentage {
            background-color: red;
            color: #fff;
            padding: 0 5px;
            margin-left: 7px;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 700;
          }

          .price {
            color: #ff6240;
            font-weight: 600;
            font-size: 1.7rem;
            margin-bottom: 0;
          }

          &:nth-child(2) {
            padding-left: 10px;
          }
        }
      }
    }
  }

  .slider {
    display: flex;
    gap: 10%;

    .image-slider {
      background-color: #666666;
      border-radius: 4px;
      width: 50%;
      height: 400px;
    }

    .map {
      background-color: #666666;
      border-radius: 4px;
      width: 30%;
      height: 400px;
    }
  }

  .private-yacht {

    p {
      font-size: 1rem;
      font-weight: 400;
      color: #333;
    }
  }
  hr {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }

  .details {
      .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 15px;
        margin-right: 15px;
        .column {
          width: 16%;
          text-align: left;
          h4 {
            font-size: 13px;
            color: #333;
            font-weight: 600;
          }
          p {
            color: #666666;
            font-weight: 600;
          }
        }
      }
  }

  .important-notes {
    display: flex;
    gap: 6%;
    .details {
      width: 47%;
      p {
        padding: .3rem;
        height: 50px;
        border: 1px solid #dee2e6;
        border-radius: 4px;
      }
    }
    .notes {
      width: 47%;
      ul {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        li {
          padding: .3rem;
          font-size: 15px;
          color: #666666;
          font-weight: 400;
        }
      }
    }
  }
  .services {
    display: flex;
    gap: 6%;
    .includes {
      width: 47%;
      ul {
        list-style: none;
        li {
          display: flex;
          align-items: center;
          gap: .5rem;
          font-size: 15px;
          color: #666666;
          font-weight: 400;
          img {
            width: .7rem;
            height: .7rem;
          }
        }
      }
    }
  }

}